---
import Section from "../Section.astro";
const items = await Astro.glob("../../pages/work/*.md"); // returns an array of posts that live at ./src/pages/post/*.md
---

<Section className="mb-[50vh]">
  <div class="c">
    <div class="flex justify-center mb-4">
      <h2 data-a="char" class="font-bold italic text-lg">Archive</h2>
    </div>
    <ul data-dom="list">
      <!--  -->
      {
        items.map((item) => {
          const { name, type, category, year, avail, modelurl } =
            item.frontmatter;
          return (
            <li
              data-model={modelurl}
              class=" flex flex-col content-center mb-4 cursor-pointer"
            >
              <div class="flex justify-center">
                <h2
                  data-a="alpha"
                  class="font-gs md:text-[5vw] text-[10vw] leading-[.9em] text-center max-w-[80vw]"
                >
                  <span> {name}</span>
                  <span class="font-ak text-xl">{year}</span>
                </h2>
              </div>
              <div data-a="alpha" class="flex justify-center mt-4 mb-8">
                <div class="flex w-[50vw] justify-between">
                  <p class="hidden md:block">{avail}</p>
                  <a data-a="trig" href={item.url}>
                    PROJECT DETAILS
                  </a>
                  <p class="hidden md:block">{type}</p>
                  <p>{category}</p>
                </div>
              </div>
            </li>
          );
        })
      }
    </ul>
  </div>
</Section>
