---
import "../style/type.css";
import "../style/main.css";

const { title, description, imageUrl } = Astro.props;

import Nav from "../components/Nav.astro";
import Canvas from "../components/Canvas.astro";
import Preloader from "../components/Preloader.astro";
// import Footer from "../components/home/Footer.astro";
import Section from "src/components/Section.astro";

import Meta from "src/components/Meta.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- <meta name="generator" content={Astro.generator} /> -->
    <Meta title={title} description={description} imageUrl={imageUrl} />
    <title>OFFFICE :: {title}</title>
  </head>

  <body>
    <Nav />
    <Preloader />

    <div data-taxi>
      <main data-taxi-view class="Main Policy">
        <div class="pt-[20vh] pb-[10vh]">
          <Section>
            <div data-layer="top" data-a="alpha" class="c">
              <slot />
            </div>
          </Section>
        </div>
      </main>
    </div>

    <Canvas />
  </body>
</html>
