---
import "../style/type.css";
import "../style/main.css";

const { title, frontmatter } = Astro.props;
const { size, name, year } = frontmatter;

// console.log(Astro.props, size);

import Nav from "../components/Nav.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    <Nav />

    <!--  -->
    <div data-taxi>
      <main
        data-taxi-view
        class="Main flex h-[100vh] flex-col justify-between md:pt-8 pt-[15vh] pb-8 text-xs mt-0"
      >
        <!-- I -->
        <div class="c flex">
          <li class="w-[50vw] pr-[10%] flex flex-col md:items-end">
            {
              size.map((unit) => {
                return <ul>{unit}</ul>;
              })
            }
          </li>
          <div class="w-[30ch] uppercase"><slot /></div>
        </div>
        <!-- II -->
        <div class="c justify-between hidden md:flex">
          <a href="/">BACK HOME</a>
          <p>DOWNLOAD SPEC SHEET</p>
        </div>
        <!-- III -->
        <div class="c md:flex justify-between items-end">
          <div>
            <p>{year}</p>

            <h1
              class="font-gs uppercase md:text-[5vw] text-[10vw] md:max-w-[30ch] max-w-[60vw] leading-[.8em]"
            >
              {name}
            </h1>
          </div>
          <p class="pt-8 md:pt-0 text-right">REQUEST PURCHASE</p>
        </div>
      </main>
    </div>

    <!--  -->
    <!-- Webgl -->
    <div data-gl="c"></div>

    <script>
      import "../js/app.js";
    </script>
  </body>
</html>
