---
import "../style/type.css";
import "../style/main.css";

const { title, frontmatter } = Astro.props;
const { size, name, year, metadesc, price } = frontmatter;

let printPrice = price ? price + " $" : "Price Upon Request";

// console.log(Astro.props, size);
import Canvas from "../components/Canvas.astro";
import Nav from "../components/Nav.astro";
import Preloader from "../components/Preloader.astro";

import Meta from "src/components/Meta.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- <meta name="generator" content={Astro.generator} /> -->
    <Meta title={name} description={metadesc} />
    <title>OFFFICE :: {name}</title>
  </head>

  <body>
    <Nav />
    <Preloader />

    <!--  -->
    <div data-taxi>
      <main
        data-layer="top"
        data-taxi-view
        class="Main flex h-[100vh] flex-col justify-between md:pt-8 pt-[15vh] pb-8 text-xs mt-0"
      >
        <!-- I -->
        <div class="c flex">
          <li class="w-[50vw] pr-[10%] flex flex-col md:items-end">
            {
              size.map((unit) => {
                return <ul data-a="line">{unit}</ul>;
              })
            }
          </li>
          <div class="w-[30ch] uppercase" data-a="alpha"><slot /></div>
        </div>
        <!-- II -->
        <div class="c justify-between hidden md:flex">
          <a
            data-a-dom="underline"
            data-a-gl="light"
            data-a="line"
            href="/"
            class="py-4">BACK HOME</a
          >
          <p class="py-4" data-a-dom="underline" data-a="line">
            DOWNLOAD SPEC SHEET
          </p>
        </div>
        <!-- III -->
        <div class="c md:flex justify-between items-end">
          <div>
            <p>{year}</p>

            <h1
              data-a="word"
              class="font-gs uppercase md:text-[5vw] text-[10vw] md:max-w-[20ch] max-w-[60vw] leading-[.8em] break-words"
            >
              {name}
            </h1>
          </div>

          <div>
            <p data-a="line" class="mb-2 text-end font-gs">{printPrice}</p>
            <p
              data-a-dom="underline"
              class="pt-8 md:pt-0 text-right font-bold cursor-pointer"
              data-a="line"
            >
              REQUEST PURCHASE
            </p>
          </div>
        </div>
      </main>
    </div>

    <Canvas />
  </body>
</html>
