---
import Section from "src/components/Section.astro";

const posts = await Astro.glob("../../pages/work/*.md"); // returns an array of posts that live at ./src/pages/post/*.md
console.log(posts[0].frontmatter);
---

<Section className="">
  <div class="c my-[30vh]">
    <ul class="flex flex-col">
      <h1 data-a="word" data-layer="top" class="font-bold italic text-[2em]">
        Archive
      </h1>
      {
        posts.map((post) => {
          const { name, year, type, category, avail, size } = post.frontmatter;
          return (
            <li class="py-4 my-10 flex justify-between items-end ">
              <a href={post.url} class="">
                <h2
                  data-a="word"
                  class="font-gs text-[10vw] uppercase leading-[.9em] break-before-auto"
                >
                  {name}
                </h2>
              </a>

              <div class="flex text-xs items-end justify-between w-1/4">
                <p data-a="line" data-layer="top">
                  {year}
                </p>

                <div data-layer="top">
                  <p class="mt-4">
                    <span data-a="line">{type}</span>
                  </p>
                  <p class="mt-4">
                    <span data-a="line">{category}</span>
                  </p>
                  <p class="mt-4">
                    <span data-a="line">{avail}</span>
                  </p>
                  <p class="mt-4">
                    <span data-a="line">{size}</span>
                  </p>
                </div>
              </div>
            </li>
          );
        })
      }
    </ul>
  </div>
</Section>
